<header id="header" [class.header-scrolled]="isHeaderScrolled" class="fixed-top" [class.header-inner-pages]="isHeader">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <a href="/"><img src="assets/img/banner_SYNC_2.png" alt="sync"></a>
            <!-- <a href="index.html">Arsha</a> -->
        </div>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar" [class.navbar-mobile]="isMobile && isNavbarActive"
            (click)="toggleNavbarClass()">
            <ul>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/'}" (click)="setActiveLink('/')"
                        href="/">Home</a></li>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#about'}"
                        (click)="setActiveLink('/#about')" href="/#about">About</a></li>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#services'}"
                        (click)="setActiveLink('/#services')" href="/#services">Services</a></li>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#portfolio'}"
                        (click)="setActiveLink('/#portfolio')" href="/#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#team'}"
                        (click)="setActiveLink('/#team')" href="/#team">Team</a></li>
                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#contact'}"
                        (click)="setActiveLink('/#contact')" href="/#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>