<header id="header" [class.header-scrolled]="isHeaderScrolled" class="fixed-top" [class.header-inner-pages]="isHeader">
        <div class="container d-flex align-items-center">

                <div class="logo me-auto">
                        <a href="/"><img src="assets/img/banner_SYNC_2.png" alt="sync"></a>
                        <!-- <a href="index.html">Arsha</a> -->
                </div>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar" [class.navbar-mobile]="isMobile && isNavbarActive"
                        (click)="toggleNavbarClass()">
                        <ul>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/'}"
                                                (click)="setActiveLink('/')" href="/">{{ 'home' | translate }}</a></li>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#about'}"
                                                (click)="setActiveLink('/#about')" href="/#about">{{ 'about' | translate
                                                }}</a></li>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#services'}"
                                                (click)="setActiveLink('/#services')" href="/#services">{{ 'services' |
                                                translate }}</a>
                                </li>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#portfolio'}"
                                                (click)="setActiveLink('/#portfolio')" href="/#portfolio">{{ 'portfolio'
                                                | translate }}</a>
                                </li>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#team'}"
                                                (click)="setActiveLink('/#team')" href="/#team">{{ 'team' | translate
                                                }}</a></li>
                                <li><a class="nav-link scrollto" [ngClass]="{'active': activeLink === '/#contact'}"
                                                (click)="setActiveLink('/#contact')" href="/#contact">{{ 'contact' |
                                                translate }}</a></li>
                                <li class="dropdown"><a href="#"><span>{{ 'langue' | translate }}</span> <i
                                                        class="bi bi-chevron-down"></i></a>
                                        <ul>
                                                <li><a href="#" (click)="switchLanguage('en')">English<img
                                                                        src="assets/img/Flag_of_the_United_Kingdom.png"
                                                                        width="30px" alt="English Flag"></a></li>
                                                <li><a href="#" (click)="switchLanguage('fr')">Français<img
                                                                        src="assets/img/Flag_of_France.png" width="30px"
                                                                        alt="French Flag"></a></li>
                                                <li><a href="#" (click)="switchLanguage('de')">Allemand<img
                                                                        src="assets/img/Allemand-flag.png" width="30px"
                                                                        alt="Deutch Flag"></a></li>
                                        </ul>
                                </li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

        </div>
</header>