<footer id="footer">

    <!-- <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <!-- <h3>Arsha</h3> -->
                    <img class="footer_logo" src="assets/img/banner_SYNC.png" alt="sync">
                    <p>
                        Teboulba,Monastir <br>
                        Tunisia<br>
                        <br>
                        <strong>{{ 'call' | translate }} 1:</strong><a href="tel:+216 99 676 111">+216 99 676
                            111</a><br>
                        <strong>{{ 'call' | translate }} 2:</strong><a href="tel:+216 51 873 655">+216 51 873
                            655</a><br>
                        <strong>{{ 'email' | translate }}:</strong><a
                            href="mail:contact@sync.tn">contact@sync.tn</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'useful_Links' | translate }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">{{ 'home' | translate }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#about">{{ 'about' | translate }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services">{{ 'services' | translate }}</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'our_Services' | translate }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'our_Social_Networks' | translate }}</h4>
                    <p>{{ 'our_Social_Networks-text' | translate }}</p>
                    <div class="social-links mt-3">
                        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                        <a href="https://www.facebook.com/profile.php?id=100092563272169" class="facebook"
                            target="_blank"><i class="bx bxl-facebook"></i></a>
                        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
                        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                        <a href="https://www.linkedin.com/company/synchronized-your-needs-with-creative-technology/about"
                            class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Sync</span></strong>. {{ 'all_Rights_Reserved' | translate }}
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            {{ 'designed_by' | translate }} <a href="#team">{{ 'our_team' | translate }}</a>
        </div>
    </div>
</footer>